.background    { background: rgb(246, 213, 246);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(171, 33, 137); }
.wall          { background: white;   }
.floater       { background: rgb(255, 255, 179); }
.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
